<module>
	<rawname>paging</rawname>
	<name>Paging and Intercom</name>
	<version>1.2</version>
	<type>setup</type>
	<category>Module</category>
	<menuitems>
		<paging>Paging and Intercom</paging>
	</menuitems>
	<location>release/paging-1.2.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Paging</info>
	<md5sum>1d218cf8024a02074bdb3b1b0e4820fa</md5sum>
</module>
